/* Start for dev */
.Debug.row {
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: 0;
    width: 100%;
    z-index: 9;
    background: #fff;
}
/* End for_dev*/

.Orange {
    background: linear-gradient(223.61deg, #F48040 0%, #FF4745 97.69%);
}

.Blue {
    background: linear-gradient(180deg, #3876AA -4.75%, #1A4171 50%);
}

.Green {
    background: linear-gradient(180deg, #4AB0A8 0%, #A9E5BB 100%);
}

.Line {
    width: 100%;
    height: 0.5px;
    background: #FFFFFF;
}

.message-main {
    text-transform: uppercase;
    font-family: Poppins-Medium;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}

.message-alt {
    font-family: Poppins-Light;
    color: #fff;
    font-size: 17px;
    margin-bottom: 15%;
}

.message-bubble-sub {
    color: #475569 !important;
}
.message-bubble {
    font-family: Poppins-regular;
    font-weight: 700;
    font-size: 18px;
    background: linear-gradient(229.89deg, #3876AA 16.35%, #1A4171 84.24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.message-bubble-holder {
    position: relative;
    background: #FFFFFF;
    border-radius: 17px;
    padding: 1rem;
    margin: 8rem 0 5rem 0;
}

.warning_img {
    position: absolute;
    margin: 0 auto;
    right: -5rem;
}

.text {
    font-family: Poppins-regular;
    color: #fff;
    font-size: 14px;
}


.Step_progress {
    position: absolute;
    width: 35%;
    bottom: 10%;
}
.Mui-active, .Mui-completed {
    color: rgba(255, 255, 255, 0) !important;
}

.Mui-active .MuiStepConnector-line {
    border-color: #638EBD !important;
    box-shadow: 0 0 0px 3px #638EBD !important;
}

.MuiStepLabel-iconContainer.Mui-active.MuiStepLabel-alternativeLabel {
    border-color: #f4b340 !important;
    box-shadow: inset 0 0 0px 4px #f4b340;
    background: #fff;
}
.MuiStepLabel-iconContainer.Mui-completed.MuiStepLabel-alternativeLabel {
    border-color: #638EBD !important;
    box-shadow: inset 0 0 0px 4px #638EBD;
    background: #fff;
}

#root .css-vnkopk-MuiStepLabel-iconContainer.MuiStepLabel-alternativeLabel {
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    margin-top: -1px;
}

#root .MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel {
    left: calc(-50% + 12px);
    right: calc(50% + 12px);
}

#root .MuiStepConnector-line {
    display: block;
    border-color: #fff;
    border-top-style: solid;
    border-top-width: 2px;
}

#root .MuiStepIcon-text {
    fill: transparent;
}

#root .CircularProgressbar .CircularProgressbar-trail {
    stroke: #fff;
}
#root .CircularProgressbar .CircularProgressbar-path {
    stroke: #E2E8F0;
}
#root .CircularProgressbar .CircularProgressbar-text {
    fill: #ff4745;
    font-family: 'Poppins-Bold';
    font-weight: 900;
    font-size: 28px;
}

.customStyle_txt {
    background: linear-gradient(180deg, #4AB0A8 0%, #A9E5BB 74.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Poppins-Bold';
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
}