body {
    height: 100% !important;
    display: flex !important;
    width: 100% !important;
    overflow: hidden;
}

#root {
    height: 100% !important;
    width: 100% !important;
}

html {
    width: 100% !important;
    height: 100% !important;
}

@font-face {
    font-family: 'Poppins-Light';
        src: local('Poppins-Light'),
        url('./fonts/Poppins-Light.ttf')
}

@font-face {
    font-family: 'Poppins-Regular';
        src: local('Poppins-Regular'),
        url('./fonts/Poppins-Regular.ttf')
}

@font-face {
    font-family: 'Poppins-Medium';
        src: local('Poppins-Medium'),
        url('./fonts/Poppins-Medium.ttf')
}

@font-face {
    font-family: 'Poppins-Bold';
        src: local('Poppins-Bold'),
        url('./fonts/Poppins-Bold.ttf')
}
